@import "compass";
@import "compass/reset";

/* LAYOUT */
$max-width: 1020px;
$gutter: 20px;
$col: 220px;

/* FONTS */
$base-font-size: 12px;
$base-line-height: 18px;
@include establish-baseline;
$font: sans-serif;

/* COLORS */
$grey: #333333;
$med-grey: #666666;
$light-grey: #cccdce;
$lightest-grey: #f3f3f3;
$orange: #ff8417;
$light-orange: #faebdf;
$blue: #17aaff;
$dark-blue: #1b75aa;
$dark-green: #033333;


div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

h1 {
	color: $orange;
	font-style: italic;
	@include adjust-font-size-to(32px);

	.filter-type {
		text-transform: capitalize;
	}
}

p {
	@include leader(1);
	font-style: italic;
}

.double-space {
		line-height: 2em;
}

a, a:visited {
	color: $blue;
}

em {
	color: $blue;
	font-style: italic !important;
	@include adjust-font-size-to(16px);
}

body {
	font-family: $font;
	color: #000;
	background: url('../images/background.jpg');

	&.no-sidebars {
		#content {
			width: 100%;
		}
	}

	&.front  {

		.field-name-field-featured-image {
			float: left;
			margin: 0 20px 20px 0;
		}

		.field-name-body {

			img {
				float: right;
				margin: 20px 0 20px 20px;
			}

			a, a:visited {
				color: $dark-blue;
			}

			a:after {
				content: " >";
			}
		}
	}

	&.node-type-webform {

		#content {
			p {
				font-style: italic;
			}

			address p, address {
				font-weight: bold;
				font-style: normal;
			}
		}

		.field-name-body {
			float: right;
			width: 50%;
			padding-left: 40px;
		}

		img {
			margin-right: 20px;
		}
	}

	&.page-rings {

		h1 {
			margin-bottom: 0.5em;
		}
	}
}

#sidebar-first {
	width: $col;
	float: left;
	margin-right: $gutter;

	h2 {
		@include adjust-font-size-to(18px);
		color: $orange;
		font-weight: bold;
	}

	li {
		margin: 0 0 0.25em 0;
	}

	a {
		font-style: italic;
	}

	.block {
		margin-bottom: 20px;
	}

	.view-comments-recent {
		font-style: italic;
		p {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		.views-field-name {
			display: inline-block;
			padding-left: 10px;
			background:  url('../images/arrow-comments.png') no-repeat left center;
		}
		.views-field-subject {
			display: inline;
		}
	}
}


#content {
	width: $col * 3;
	float: left;

	h2 {
		@include adjust-font-size-to(18px);
		font-weight: bold;
		font-style: normal;
		margin-top: 1em;

		a {
			text-decoration: none;
			font-style: normal;
		}
	}

	p {
		font-style: normal;
	}

	.category, .views-field-created, .views-field-comment-count-1, .views-field-field-posttags {
		display: inline;

		.field-content {
			display: inline;
		}
	}

	.category {
		padding-left: 33px;
		background:  url('../images/arrow-blog-post.png') no-repeat left center;
	}

	.views-field-comment-count-1 {
		float: right;
		padding-right: 5px;
	}

	.views-field-field-posttags {
		float: right;
	}

	.item-list {
		float: left;
		width: 100%;

		.pager {
		margin: 2em 0 1em;
		@include adjust-font-size-to(12px);
		}
	}
}



.node-type-blog, .page-archive, .page-blog {

	h1 {
		@include adjust-font-size-to(28px);
		font-style: normal;
	}

	.comment-count {
		float: right;
	}

	.meta {
		padding-left: 77px;
		height: 16px;
		background:  url('../images/arrow-blog-posted-in.png') no-repeat left center;
		font-style: italic;

		.comment-count {
			float: none;
		}
	}

	.tag-wrapper {
		float: right;
	}

	.field-body, .views-field-body {
		margin-bottom: 1em;
	}
	
}

.page-archive, .page-blog {

	.comment-count {
		float: right;
		padding-right: 5px;
	}

}


.view-archive, .view-blog {
	.views-row {
			float: left;
			padding-bottom: 1em;
			border-bottom: 1px dashed $blue;
			width: 100%;
		}
}

.node-type-blog, .page-blog {

	
	.comment-count a{
		text-decoration: none;
	}

	.field-name-body {

		p {
			color: $dark-green;
		}
		img {
			float: right;
			margin: 1.25em 0 1.25em 1.25em;
		}
	}

	.tag-wrapper {
		text-align: right;
	}

	.tag-arrow {
		padding-right: 54px;
		background:  url('../images/arrow-blog-tagged.png') no-repeat right center;
	}

	.category, .field-name-field-posttags {
		display: inline;
		div {
			display: inline;
		}
	}
}

#comments {

	h2 {
		@include adjust-font-size-to(18px);
		color: $orange;
		font-weight: normal;
	}

	.attribution {
		width: 60px;
		float: left;
		margin-right: 16px;
		@include adjust-font-size-to(13px);

		.user-picture {
			border: 1px solid $light-grey;
			overflow: hidden;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
		}

		img {
			vertical-align: middle;
			display: inline;
		}

		.post-date {
			color: $med-grey;
			@include adjust-font-size-to(10px);
		}
	}

	.comment-text {
		float: right;
		width: 564px;
		margin-left: 16px;
		border: 1px solid $light-grey;
		position: relative;

		.content {
			position: relative;
			left: -22px;
			padding: 20px 20px 0 43px;
			background:  url('../images/comment-arrow.png') no-repeat left 10px;
			height: 100%;
			width: 584px;
		}

		.links {
			padding: 0 20px 20px;
			float: left;

			a, a:visited {
				color: $dark-blue;
				text-decoration: none;
				@include adjust-font-size-to(11px);
				font-style: none;
			}
		}
	}

	p {
		margin-top: 0;
		@include trailer(1);
	}
}

.comment {
	margin-bottom: 20px;
}

.comment-form {

	label {
		display: inline;
		float: left;
	}

	label:after {
		content: ":";
		padding-right: 16px;
	}

	.form-textarea-wrapper {
		float: left;
		width: 580px;

		textarea {
			border: 1px solid $blue;
		}
	}

	.form-type-select, .filter-guidelines {
		padding: 0;
		margin: 0;
		clear:  both;

		label {
			width: 76px;
		}
	}

	.filter-guidelines {
		margin-left: 78px;
	}

	#edit-actions {
		margin-left: 76px;
		margin-top: 0.75em;

		input {
			background: $blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			padding: 6px 8px;
			font-size: 18px;
			border: 1px solid $med-grey;
		}
	}

	.filter-wrapper {
		padding: 1em 0;

		p {
			margin: 0;
		}

		div {
			padding: 0;
		}
	}

	#edit-comment-body-und-0-format-help {
		display: none;
	}
}

.page-taxonomy {

	.node {
		padding-bottom: 2em;
		border-bottom: 1px dashed $blue;
	}

	.description {
		float: left;
		width: 600px;
		p {
			margin-top: 0;
		}
	}

	.field-name-field-featured-image {
		float: left;
		width: 145px;
		height: 90px;
		margin-right: 20px;
		overflow: hidden;

		div {
			height: 100%;
			width: 100%;
			position: relative;
		}

		img {
			top: 50%;
			left: 50%;
			display: block;
			position: absolute;
		}
	}

	.specs {
		float: left;
		width: 145px;
		margin-right: 20px;
	}

	ul.links.inline {
		display: inline-block;
		width: 100%;

		li {
			float: right;
		}
	}
}

.view-rings {
	width: 920px;
	float: left;

	.view-header {
		width: $col;
	}
	.view-filters {
		width: $col;
		margin-right: $gutter;
		float: left;
		display: block;
		
		.views-exposed-form{
			.views-exposed-widget {
				display: block;
				clear: both;

				select {
					width: $col;
				}

				.form-submit {
					background: $blue;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					float: right;
					border: none;
					display: block;
					padding: 6px 8px;
					font-size: 12px;
				}
			}

			.views-submit-button {
					width: 100%;
					padding: 0;
			}
		}

	}
	.view-content {
		width: $col * 3;
		float: right;

		p {
			font-style: normal;
		}

		.views-row {
			border: 1px dashed $blue;
			padding: 10px;
			float: left;
			margin-bottom: 20px;
			width: 100%;


			.field-featured-image {
				width: 140px;
				overflow: hidden;
				margin-right: 10px;
				float: left;

				.field-content, img {
					width: 100%;
					height: auto;
				}
			}

			.title {
				width: 480px;
				float: left;

				a {
					@include adjust-font-size-to(18px);
					font-style: normal;
					color: $blue;
					text-decoration: none;
				}	
			} 

			.body {
				width: 260px;
				padding-right: 16px;
				border-right: 2px dashed $orange;
				margin-right: 16px;
				height: 90px;
				float: left;

				p {
					margin-top: 0;
				}
			}

			.specs {
				width: 203px;
				float: left;

					.views-label {
						font-weight: bold;
					}
					.field-content {
						display: inline;
					}
			} 

			.path {
				float: right;
				margin: 10px 0 0 0;

				a {
					display: block;
					text-transform: uppercase;
					color: #fff;
					padding: 6px 8px;
					background: $blue;
					text-decoration: none;
					font-style: normal;

					.icon-plus {
						display: inline-block;
						text-indent: -9999em;
						height: 16px;
						width: 17px;
						background: url('../images/icon-plus.png') no-repeat center center;
						margin-right: 6px;
						line-height: 28px;
						line-height: 16px;
					}
				}
			}

				
		}

		
	}
}



#page-wrapper {
	max-width: $max-width;
	margin: 0 auto 40px;
	padding: 30px 40px 0;
	background: #fff;
	@include box-shadow(rgba(69,69,69,0.6) 0 0 4px);
}

#header {
	position: relative;

	.section {
		position: relative;
		width: 100%;
		height: 147px;
		background: url('../images/header-ring.jpg') no-repeat 498px -10px;
		border-bottom: 4px solid #000000;
	}

	#logo {
		position: absolute;
		left: -20px;
		bottom: 0;
		float: left;

		a {
			display: block;
			width: 578px;
			height: 147px;
		}

		img {
			display: block;

		}
	}

	#more-info {
		
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: right;
		@include adjust-font-size-to(13px);
		margin-bottom: 10px;

		a, a:hover {
		color: $grey;
		}

		span {
			display: block;
			text-align: right;
			float: right;
			clear: right;
			font-style: italic;
		}

		#phone {
			width: 148px;
			height: 62px;
			float: right;
			display: block;
			margin: 10px 0;
		}

		
	}

	.region-header {
		position: absolute;
		top: 0;
		right: 0;

		.form-submit {
			display: none;
		}

		#edit-search-block-form--2 {
			width: 230px;
			height: 23px;
			border: 1px solid #999999;
			background: url('../images/arrow-search.png') no-repeat 216px 4px #fff;
			padding: 6px;
			box-sizing: border-box;
			line-height: 23px;
		}
	}

	#main-menu {
		clear: both;
		padding: 10px 16px 0 0;
		margin-right: -6px;
		background: url('../images/arrow-header.png') no-repeat 100% 0% transparent;
		height: 146px;

		li {
			display: inline-block;
			list-style-type: none;
			margin: 0 10px 0 0;
			text-align: center;
			padding: 0;

			a {
				display: block;
				font-size: 24px;;
				width: $col;
				height: 59px;
				line-height: 59px;
				background: url('../images/nav.png') no-repeat 16px 3px $orange;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;

			}

			.active {
				background: url('../images/nav-active.png') no-repeat 16px 3px $light-orange;
				color: $orange;
			}
		}

	}

}

#main-wrapper {
	position: relative;
	top: -70px;
	padding: 20px 10px 0 0;
	
}


#webform-client-form-201 {
	float: left;
	width: 50%;

	.form-item {
		margin-bottom: 10px;
		margin-top: 0;
	}

	input {
		height: 36px;
	}

	input, textarea {
		background: $lightest-grey;
		border: 1px solid $blue;
		box-sizing: border-box;
		width: 300px;
		float: right;
		font-size: 1.25em;
		line-height: 1.5em;
		padding: 4px;
	}

	label {
		display: inline-block;
		@include adjust-font-size-to(20px);
		width: 135px;
		text-align: right;
		margin-right: 1em;
		font-style: italic;
	}

	.webform-component-textarea {
		label {
			float: left;
			width: 135px;
		}

		.form-textarea-wrapper {
			display: inline;
		}
	}

	#edit-submit {
		display: block;
		background: url('../images/btn-submit.png') no-repeat center center $blue;
		border: 1px solid $med-grey;
		float: right;
		margin-top: 10px;
		width: 150px;
		clear: both;
		text-indent: -9999em;
		height: 50px;
	}
}


#footer-wrapper {
	width: 100%;
	min-height: 100px;
	padding: 0 40px 20px;
	box-sizing: content-box;
	margin-left: -40px;
	@include background-image(linear-gradient(white, $light-orange)); 

	.section{
		padding: 80px 0 20px;
	}

	.menu {

		float: left;
		
		.leaf {
			list-style-type: none;
			display: inline-block;
		}

		a, a:active, a:visited {
			color: $med-grey;
			text-decoration: none;
		}

		a:after {
			content: " | ";
			padding-left: 10px;
			line-height: 16px;
			font-size: 15px;
			vertical-align: middle;
		}

		li.last a:after {
			content: "";
		}
	}

	#copyright {
		float: right;
		color: $med-grey;
	}
}
